Skip to content
Features
Business
Explore
Marketplace
Pricing

Search

Sign in or Sign up
1 0 0 Emilczar/WebPageV1
 Code  Issues 0  Pull requests 0  Projects 0  Insights
Join GitHub today
GitHub is home to over 28 million developers working together to host and review code, manage projects, and build software together.

WebPageV1/.gitignore
11b64de  on 9 Jun
@Emilczar Emilczar new project
     
35 lines (30 sloc)  405 Bytes
# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
